@charset "UTF-8";

/* REACTIVE CLASS */
.mobile {display:none !important;}
br.only-m {content:'';}
br.only-m::after {content:'\00a0';}

html{
    width:100%;
    height:100%;
}

body {
    font-family:'NotoSansKr', sans-serif;
    font-size:14px;
    color:#3c3c3c;
}

#wrapper {
    position:relative;
    width:100%;
    overflow:hidden;    
}

#skip_nav {
    position:fixed;
    left:0;
    top:-40px;
    width:100%;
    line-height:40px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.8);
    color:#ffffff;
    font-size:16px;
    transition:top 0.3s;
    z-index:100000;
}

#skip_nav:focus {
    top:0;
}

#wrapper{
    position:relative;
    width:100%;
    height:100%;    
    min-width:1440px;
    min-height:960px;
    padding-left:60px;
    background:#F5F8FA;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;/* Safari prior 6.1 */ 
  }

  #wrapper.on{ 
    padding-left:280px;
    transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease; /* Safari prior 6.1 */
  }

  .content_wrap{
    width:100%;
    height:auto;
    overflow:hidden;
    background:#fff;
  }  
  
  .content_wrap .contents{
    width:100%;
    height:auto;
    padding:40px 40px 40px 40px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  
  .conbox_area{
    width:100%;
    height:100%;  
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
  }

  /*Login*/
.main.login {
    width:100%;
    height:100%;
}

#login_wrapper{
    width:100%;
    height:100%;
    min-width:1200px;    
    min-height:920px;
    background:url(../img/common/login_back.jpg) no-repeat;
    background-size:cover;
}

.login_content_area{
    position:relative;
    top:50%;
    transform:translateY(-50%);
    margin:0 auto;
}

.login_content_area .title_area h2 {
    margin-bottom:30px;
    font-size:45px;
    color:rgba(255, 255, 255, 0.9);
    font-weight:300;
    text-align:center;
    letter-spacing:2px;
    font-weight:400;
}

.login_content_area .title_area span{
    display:block;
    font-size:18px;
    color:rgba(255, 255, 255, 0.9);
    font-weight:200;
    letter-spacing:10px;
    text-align:center;  
}

.login_box{
    position:relative;
    width:410px;
    height:auto;
    margin:0 auto 0;
    padding:50px 35px 30px 35px;
    background:#fff;
    border-radius:15px;
    -webkit-box-shadow:7px 7px 12px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:7px 7px 12px 0px rgba(50, 50, 50, 0.5);
    box-shadow:7px 7px 12px 0px rgba(50, 50, 50, 0.5);
}

.login_box span{
    display:block;
    margin-bottom:15px;
    font-size:16px;
    font-weight:400;
    color:#606060;
}

.login_box input:nth-child(2){
    height:46px;
    margin-bottom:30px;
}

.login_box input:nth-child(4){
    height:46px;
    margin-bottom:15px;
}

.login_btn{
    display:block !important;  
    width:218px;
    height:50px;
    line-height:48px;
    padding: 0 40px;  
    margin:50px auto 20px;
    text-align:center;
    letter-spacing:1px;
}

.login_box .search_info{
    display:block;
    font-size:15px;
    font-weight:400;
    color:#606060;
    text-align:center;
} 
  
  /*************** header *****************/
  .header{
    position:relative;
    width:100%;    
    padding:0 40px;
    min-width:1160px;
    height:84px;
    overflow:hidden;
    background:#fff;
    box-shadow: 0px 10px 30px 0px rgb(82 63 105 / 5%); 
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;   
  }
  
  .header .title {
      float:left;
      padding:16px 0;
  }

  .header .title h2 {
      font-weight:400;
      color:#222;
      padding-bottom:7px;
      letter-spacing:1px;
  }

  .header .title p {
      font-size:16px;
      font-weight:400;
      color:#A1A5B7;
      letter-spacing:1px;
  }

  .header .title p em {
      font-weight:400;
  }
  
  .header .header_link {
      float:right;
      padding:20px 0;
  }

  .header .header_link > li {
      float:left;
  }

  .header .header_link > li + li {
      margin-left:5px;
  }

  .header .header_link > li > a {
    display:block;
    position:relative;
    width:44px;
    height:44px;
    border:2px solid #e5e5e5;
    border-radius:4px;
    box-sizing:border-box;
    text-align:center;
    color:rgba(255, 255, 255, 0.7);
    transition: all 0.3s;
  }

  .header .header_link > li:hover a {
    border:2px solid #262f36;  
  }

  .header .header_link > li > a i {    
    font-size:20px;
    line-height:40px;
    color:#cfcfcf;
  }

  .header .header_link > li:hover a i{
    color:#262f36;  
  }

  .header .header_link > li.logoutBtn > a i {
    transform:rotate(90deg);
  } 
  
  /*left_menu_off*/
  .left_menu_off{
    position:absolute;
    top:0;
    left:0;
    width:60px;
    height:100%;
    background:#262f36;
    transition:all 0.5s ease;
    -webkit-transition: all 0.5s ease; /* Safari prior 6.1 */
  }
  
  #wrapper.on .left_menu_off{
    left:-60px;
  }
  
  .left_menu_off h1{
   width:60px;
   height:84px;
   background:#262f36;
   box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box; 
  }
  
  .left_menu_off h1 a{
    display:block;
    width:100%;
    height:auto;
    padding-top:10px;
    text-align:center;
   }
  
  .left_menu_off h1 a img{
    width:50px;
  }
  
  .left_menu_off p.menuOpen_btn{
    position:relative;
    width:60px;
    height:60px;
    background:#0e1214;
    cursor:pointer;  
  }
  
  .left_menu_off p.menuOpen_btn span{
    position:absolute;
    left:50%;
    margin-left:-18px;
    display:block;
    width:36px;
    height:3px;
    background:#fff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /* Safari prior 6.1 */
  }
  
  .left_menu_off p.menuOpen_btn span:nth-child(1){
    top:15px;
  }
  .left_menu_off p.menuOpen_btn span:nth-child(2){
    top:24px;
  }
  .left_menu_off p.menuOpen_btn span:nth-child(3){
    top:33px;
  }
  .left_menu_off p.menuOpen_btn span:nth-child(4){
    top:42px;
    width:17px;
  }
  .left_menu_off p.menuOpen_btn:hover span:nth-child(4),
  .left_menu_off p.menuOpen_btn:focus span:nth-child(4){
    width:36px;
  }
  
  /*.left_menu*/
  .left_menu{
    position:absolute;
    top:0;
    left:-280px;
    width:280px;
    height:100%;
    background:#262f36;  
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease; /* Safari prior 6.1 */
  }
  
  .left_menu .logoArea{
    position:relative;  
    width:100%;
    height:84px;
    padding:0 20px;
    background:#262f36;
    overflow:hidden;
    box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box; 
  }
  
  .left_menu h1{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:130px;
  }
  
  .left_menu h1 img{
    width:100%;
  }
  
  .left_menu h1 a{
    display:block;
  }
  
  .left_menu p.menuClose_btn{
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
  }
  
  .left_menu p.menuClose_btn span{
    display:block;
    width:60px;
    height:60px;
    background:url(../img/common/ico_close.png) no-repeat;
    background-position:0 20px;
    cursor:pointer;
  }
  
  #wrapper.on .left_menu{
    left:0;
  }
  
  .subMenu_1depth{
    width:100%;
    height:auto;
    background:#262f36;
  }
  
  .subMenu_1depth>li{
    position:relative;
  }
  .subMenu_1depth>li:after{
    position:absolute;
    top:49px;
    left:50%;
    transform:translate(-50%);
    content:'';
    display:block;
    width:241px;
    height:1px;
    background:#3a444c;
  }
  
  .subMenu_1depth>li>a{
    position:relative;
    display:block;
    width:100%;
    height:50px;
    padding:0 32px 0 20px;
    line-height:50px;
    font-size:16px;
    font-weight:200;
    color:#fff;
    opacity:.7;
    background-size:20px;
    letter-spacing:1px;
    background-position:244px center;
    box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box; 
  }

  .subMenu_1depth>li>a:after {
      position:absolute;
      top:0;
      right:20px;
      font-size:12px;
      font-weight:400;
      color:#fff;
      content:'\e941';
      font-family:'xeicon';
  }  
  
  .subMenu_1depth>li.on:after{  
   display:none;
  }
  
  .subMenu_1depth>li.borderNo:after{  
    display:none;
  }
  
  .subMenu_1depth>li.on>a{  
    opacity:1;
    font-weight:400;
    color:#fff;
    background:#ef305e;
    background-size:20px;
    background-position:244px center;
  }

  .subMenu_1depth>li.on>a:after {
    content:'\e944';
  }
  
  .subMenu_2depth{
    width:100%;
    height:auto;
    padding:10px 0;
    background:#0e1214;
    box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   display:none;   
  }
 
  .subMenu_2depth>li.on>a{
    font-size:15px;
    opacity:1;
    color: #ef305e;
    font-weight:400;
  }

  .subMenu_2depth>li:hover>a{   
    opacity:1;
    color: #ef305e;
  }
  
  .subMenu_2depth>li>a{
    position:relative;
    display:block;
    width:100%;
    height:35px;
    padding-left:35px;
    line-height:35px;
    font-size:14px;
    font-weight:200;
    color:#fff;
    opacity:.8;
    background-size:20px;
    letter-spacing:1.5px;
    background-position:244px center;
    box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box; 
  }  

  .subMenu_2depth>li>a::before {
    position:absolute;
    top:0;
    left:20px;
    font-size:16px;
    font-weight:400;
    color:#fff;
    content:'·';
    font-family:'xeicon';
  }
  
  /*contents*/
  .content_wrap{
    width:100%;
    height:auto;
    overflow:hidden;
    background:#F5F8FA;
  }
  
section.container {position: relative;}
h2 + section.container {margin-top: 30px;}
section.container::after {content: ''; display: block; clear: both;}
section.container + section.container {margin-top: 20px;}
  
  section.container > section {
    float:left;
    position:relative;
    padding:25px 30px;
    box-sizing:border-box;
    border:1px solid #dfe8f1;
    border-radius:4px;
    background-color:#ffffff;
}

section.container > section.card {padding: 0;}
section.container > section + section {margin-left: 20px;}
section.container.type-1 > section {width: 100%;}
section.container .title {
    font-size:24px;
    font-weight:400;
    letter-spacing:1px;
    color:#222;
}

section.container .title span {
    display:block;
    padding-top:5px;
    font-size:16px;
    font-weight:400;
    color: #A1A5B7;
    letter-spacing: 1px;
}

/* 검색박스 */
.searchbox_line{
    padding:10px 0;    
}

.search_table th{
    font-size:14px;
    color:#2b2f33;
    font-weight:400;        
    text-align:left;
}

.searchbox_line button, .button{
	width:auto;
	height:32px;
	padding:0 20px;
	margin-right:5px;
	background:#fff;
	border:1px solid #cfcfcf;
	box-shadow:none;
	border-radius:20px;
	font-size:14px;
    font-weight:400;
	color:#2b2f33;
	overflow:visible;
    cursor:pointer;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box; 
}

.searchbox_line button.on {
    border:1px solid #ef305e;
    color:#ef305e;
}

.btn_search{
	display:inline-block;
	width:auto;
	margin-left:7px;
	padding:0 30px;
	line-height:36px;
	font-size:14px;
	color:#fff;
	background:#ef305e;
	font-weight:400;
    border-radius:4px;
	box-sizing:border-box;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	transition:all .2s linear;
}

.linebox_area{
    width:100%;
    height:auto;
    margin:20px 0 5px 0;
}

.linebox_area .title_txt{
    font-size:26px;
    font-weight:400;
    color:#1e1e1e;
}

.list_number{
    font-size:14px;
    color:#606060;
    font-weight:400;
    line-height:38px;
}

.list_number i {
    font-weight:600;
}

/*List_table*/
.list_table thead th{
    height:65px;
    border-bottom:1px solid #dfe3e9;
    vertical-align:middle;
    font-size:14px;
    color:#505050;
    font-weight:500;
}

.list_table tr.notice{
    background-color:#eefaff;
}

.list_table td{
    height:50px;
    text-align:center;
    vertical-align:middle;
    font-size:14px;
    color:#606060;
    font-weight:400;
    border-bottom:1px solid #eff1f4; 
}

.veiw_link{
    font-size:14px;
    color:#03389a;
    font-weight:400;
}

.veiw_link:focus,
.veiw_link:hover,
.veiw_link:active{
    font-size:14px;
    color:#03389a;
    font-weight:400;    
    text-decoration:underline;
}

.state_mark{
    display:inline-block;
}

.mark{
    display:inline-block;
    width:60px;
    height:30px;
    line-height:28px;
    border-radius:4px;    
    font-weight:500;
    text-align:center;
}

.mark.ing{   
    border:1px solid #03389a;
    color:#03389a;
    background:#e9f1ff;
    text-align:center;
    font-size:14px;
}

.mark.receiving{   
    border:1px solid #009d4a;
    color:#009d4a;
    background:#ecfff4;
}

.mark.standby{   
    border:1px solid #db1813;
    color:#db1813;
    background:#ffefef;
}

.mark.end{   
    border:1px solid #606060;
    color:#606060;
    background:#f4f4f4;
}

.onAir{
    display:inline-block;
    width:37px;
    height:12px;
    margin-left:7px;
    background:url(../img/icon_onAir.png) no-repeat center center;
}

/*Pasing*/
.pasing{
    width:560px;
    height:50px;    
    margin: 32px auto 0;
    text-align:center;
    padding:18px 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.pasing li{
    display:inline-block;
    margin:0 12px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.pasing li a{
    padding:0 5px;
    font-size:14px;
    color:#aaa;
    font-weight:400;
}

.pasing li.on a,
.pasing li a:hover,
.pasing li a:focus,
.pasing li a:active{
    font-weight:500;
    color:#03389a;
}

.pasing .controller{
    display:inline-block;
    width:5px;
    height:17px;
    vertical-align:bottom; 
}

.pasing .controller.prev{
    background:url(../img/common/ico_pasing_prev_off.png) no-repeat center center;
}

.pasing .controller.prev:hover,
.pasing .controller.prev:focus,
.pasing .controller.prev:active{
    background:url(../img/common/ico_pasing_prev_on.png) no-repeat center center;
}

.pasing .controller.next{
    background:url(../img/common/ico_pasing_next_off.png) no-repeat center center;
}

.pasing .controller.next:hover,
.pasing .controller.next:focus,
.pasing .controller.next:active{
    background:url(../img/common/ico_pasing_next_on.png) no-repeat center center;
}

/*gride_table*/
.gride_table{
    width:100%;
}

.gride_table th{
    height:40px;
    vertical-align:middle;
    font-size:16px;
    padding:10px 10px;
    color:#606060;
    font-weight:400;
    line-height:20px;
    letter-spacing:1px;
    background:#f6f6f8;
    border-bottom:1px solid #d4d9e1;
    border-left:1px solid #d4d9e1;
    border-right:1px solid #d4d9e1;
}

.gride_table tr td{
    height:40px;
    padding:10px 10px;
    vertical-align:middle;
    font-size:16px;   
    line-height:20px;
    letter-spacing:1px;
    color:#606060;
    font-weight:400;
    border-bottom:1px solid #d4d9e1;   
}

.gride_table.pad5 tbody th,
.gride_table.pad5 tbody td{
    padding:5px 5px;
}

.gride_table tr:first-child th,
.gride_table tr:first-child td{
    border-top:1px solid #d4d9e1;    
    border-bottom:1px solid #d4d9e1;
}

.gride_table tr{
    border-bottom:1px solid #d4d9e1;
}

.gride_table tr td{
    border-right:1px solid #d4d9e1;
}

.attendance_write_area{
    height:56px;
    padding:9px 20px;
    box-sizing:border-box;
    border-bottom:1px solid #d4d9e1;
}

.gride_table tr td .attendance_write_area:last-child{
    border-bottom:none;
}

.gride_table.noPad th,
.gride_table.noPad td{
    padding:0 0;
} 
  
  